.feedback
  padding: 94px 0
  background: url('../img/feedback/feedback-bg.jpg') no-repeat top left 100%
  background-size: contain
  position: relative
  z-index: 1
  &:before
    content: ''
    left: 0
    top: 0
    width: 60%
    height: 100%
    background-color: #fff
    position: absolute
    z-index: -1
.form
  max-width: 575px  
  &__title
    font-size: 24px
    +bold
    line-height: 35px
    margin-bottom: 49px
  &__subtitle
    display: block
    margin-bottom: 50px  
  &__input
    width: 270px
    margin-bottom: 30px
    &:first-child
      margin-right: 30px
  &__button
    padding: 28px
    display: block
    width: 100%
    font-size: 16px
  &-call
    display: flex
    font-size: 15px
    line-height: 24px
    margin-top: 21px
    &__callback
      width: 225px
      &:first-child
        margin-right: 90px
    &__tel
      position: relative
      padding-left: 60px
      &:before
        margin-top: 4px
        left: 0
        position: absolute
        content: url(../img/feedback/phone.png)
        width: 40px
        height: 40px
    &__number
      +bold
      text-decoration: none
      color: $text-collor


