.footer
  display: flex
.map
  flex-basis: 54%

.contacts
  flex-basis: 45%
  &-wrap
    padding-top: 100px
    padding-left: 131px
    line-height: 28px
  &-steps    
    line-height: 22px
    width: 190px
  &-title
    width: 300px
    font-size: 22px
    +bold
    text-align: left  
    margin-bottom: 100px
  &-info
    +bold
  &__adress
    padding-left: 41px
    margin-bottom: 40px
    position: relative
    &:before
      position: absolute
      width: 14px
      height: 20px
      content: ''
      background-image: url('../img/footer/map-placeholder.png')
      top: 0
      left: 0
  &__timework
    padding-left: 41px
    margin-bottom: 40px
    position: relative
    &:before
      position: absolute
      width: 20px
      height: 20px
      content: ''
      background-image: url('../img/footer/time.png')
      top: 0
      left: 0
  &__phone
    padding-left: 41px
    margin-bottom: 40px
    position: relative
    &:before
      position: absolute
      width: 20px
      height: 20px
      content: ''
      background-image: url('../img/footer/phone.png')
      top: 0
      left: 0

