@media (max-width: 1486px)
  .main
    &-image
      &-out
      transform: scale(1.1)
  
@media (max-width: 1289px)
  .main
    &-image
      &-out
      transform: scale(1.0)

@media (max-width: 1199px)
  .container
    width: 970px
  .main  
    &-image
      margin-top: 20px
  .modal
    &-dialog
      width: 730px
    &-part01
      width: 365px
    &-part02
      width: 365px
    &-info
      margin: 25px
    &-feedback
      margin: 40px 8px 
  .slider
    &__item
      img
        max-width: 95%
  .price
    &-wrap
      justify-content: center
  .card
    margin: 15px
  .buy
    &-wrap
      flex-wrap: wrap
      justify-content: space-around
    &-card
      margin-top: 30px

@media (max-width: 1050px)
  .portfolio
    background: $light-bg-color


@media (max-width: 992px)
  .container
    width: 767px
    text-align: center
  .main
    &-text
      &__title
        font-size: 30px
        line-height: 36px
    &-image
      &-out
        transform: none
    &-advantages
      &__text
        text-align: left
  .feedback
    background: #fff
  .form
    margin: auto
  .portfolio
    background: $light-bg-color
  .section
    &-title
      &_center
        width: 650px
        margin-bottom: 50px
  .footer
    &-feedback
      padding-top: 50px
      background-size: cover
      &:before
        top: auto
        width: 100%
        height: 50%
        bottom: -3px
      &-wrap
        flex-direction: column
        align-items: center
        justify-content: space-between
      &-text
        &__title
          margin-top: 50px
        &__subtitle
          margin-bottom: 50px
        &__questions
          li
            margin: 0 auto
      &-client
        margin-bottom: 50px
        order: -1
        &__input
          margin-bottom: 15px
          width: 100%
        &__button
          width: 100%
          margin-top: 15px
  .card
    max-width: 300px
    min-height: 350px
    padding-bottom: 0    
  .arrowrol
    display: none    
  .repair
    &-title
      font-size: 22px
      width: 650px
      line-height: 40px
  .home
    margin-top: 70px
    margin-bottom: 50px
    &-wrap
      flex-wrap: wrap
      flex-basis: 50%
  .step
    max-width: 160px
    margin-bottom: 20px
  .footer
    flex-direction: column-reverse
  .contacts
    width: 100%
    margin: 0 auto
    &-wrap
      padding-left: 0
      text-align: center
      padding-bottom: 80px
    &-steps
      margin: auto
    &-title
      width: 500px
      margin: auto
      margin-bottom: 70px
      text-align: center
  .map
    height: 650px
  .warranty
    margin-bottom: 150px
    &-wrap
      flex-wrap: wrap
    &-page
      margin: 30px


@media (max-width: 768px)
  .feedback
    padding: 10px
  .hidden-xs
    display: none
  .container
    width: 95%
    text-align: center
  .main
    &-wrap
      flex-direction: column
    &-text
      max-width: 400px
      margin: auto
      &__title
    &-advantages
      &__text
        text-align: left    
  .form
    margin: auto
    &__title
      margin-bottom: 10px
    &__subtitle
      margin-bottom: 20px
    &__input
      width: 260px
      &:first-child
        margin-right: 5px
    &__button
      width: 530px
      margin: auto
    &-call
      width: 530px
      margin: auto
      margin-top: 20px
  .modal
    &_visible
      overflow: auto
    &-dialog
      flex-direction: column
      justify-content: center
      width: 500px      
    &-part01 
      width: 500px 
    &-part02 
      width: 500px
      order: -1
    &-info
      margin: 20px  
    &-discription
      &__title
        margin-top: 10px
        margin-bottom: 10px
    &-feedback
      margin-top: 10px
      margin-bottom: 10px
      &__title
        margin-bottom: 10px
      &__subtitle
        margin-bottom: 15px
    &__input
      text-align: center
    &__button
      margin-top: 15px
      margin-bottom: 15px
  .section
    &-title
      font-size: 24px
      &_center
        width: 370px
        margin-bottom: 50px
        line-height: 35px    
  .portfolio
    padding-top: 50px
    padding-bottom: 50px
  .slider
    &__item
      img
        width: 100%
  .footer
    &-feedback
      padding-bottom: 40px
      &before
        height: 48%
      &-text
        &__questions
          li
            margin: 0 auto
            &:before
              left: 15px
      &-client
        &__input
          margin-bottom: 15px
          width: 100%
        &__button
          width: 100%
          margin-top: 15px
  .card
    max-width: 250px
    min-height: 300px
    margin: 10px
    &__title
      margin-bottom: 10px
      font-size: 16px
  .price
    margin-top: 50px
    &-title
      width: 500px
      margin-bottom: 0
  .section    
    &-subtitle
      margin: 30px 0
  .home
    &-title
      font-size: 24px
      width: 450px
      line-height: 35px
    &-subtitle
      margin-top: 25px
      margin-bottom: 25px
  .repair
    &-title
      width: 450px
      margin-top: 50px
      margin-bottom: 50px
  .contacts  
    &-wrap
      padding-top: 50px
      padding-bottom: 10px
    &-title
      margin-bottom: 40px
  .map
    height: 450px
  .buy
    margin: 50px 0
  .warranty
    margin: 50px 0
    &-title
      font-size: 24px
      width: 450px
      line-height: 35px
    &-wrap
      margin-top: 50px

@media (max-width: 576px)
  .header
    &-wrap
      display: flex
      flex-direction: column
    &-text
      display: flex
      flex-direction: column
      &__contacts
        text-align: center
        margin: auto
      &__button
        width: 100%
        margin-top: 10px  
  .hidden-xs
    display: none
  .container
    width: 95%
    text-align: center
  .main
    padding: 0
    &-wrap
      flex-direction: column
    &-text
      max-width: 400px
      margin: auto
      &__title
        margin-bottom: 20px
        span        
          margin-top: 0px
  .form
    margin: auto
    &__input
      width: 100%
      margin-bottom: 10px
      text-align: center
      &:first-child
        margin-right: 0
    &__button
      width: 100%
    &-call
      flex-direction: column
      margin: auto
      margin-top: 20px
      width: 100%
      &__tel
        padding-left: 0
        &:before
          display: none
      &__callback
        width: 100%
        margin: auto
        &:before
          display: none
  .feedback
    padding: 20px 0
  .modal
    &-dialog
      width: 300px
    &-part01 
      width: 300px 
    &-part02 
      width: 300px
    &-info
      &__box
        margin-bottom: 20px
        flex-direction: column
        text-align: center
      &__image
        align-items: center
        order: 1
      &__text
        align-items: center
        margin: auto
        width: 180px
        &-title
          padding-bottom: 8px
          &:before
      &__price
        margin-top: 8px    
    &-discription
  .section
    &-title
      &_center
        width: 310px
        margin-bottom: 20px
        line-height: 30px
        font-size: 24px
  .portfolio
    padding-top: 50px
  .footer
    &-feedback
      padding-bottom: 10px
      &:before
        height: 48%
      &-text
        margin-top: 0
        max-width: 320px
        &__title
          max-width: 300px
          text-align: justify
          line-height: 28px
          font-size: 18px
          margin: 0 auto
          margin-top: 10px
        &__subtitle
          margin: 15px 0
        &__questions
          font-size: 14px
          li
            margin: 0
            max-width: 320px
      &-client
        max-width: 320px
        &__title
          margin-top: 10px
          max-width: 300px
          text-align: center
          line-height: 28px
          font-size: 18px
          margin: 0 auto
        &__subtitle
          margin: 20px 0
  .card
    max-width: 300px
    min-height: 300px
    &__img
      &-wrap
        margin-bottom: 10px
  .repair
    &-title
      font-size: 18px
      width: 300px
      line-height: 28px
  .home
    &-title
      font-size: 22px
      width: 300px
    &-wrap
      flex-direction: column
  .step
    max-width: 150px
    margin-bottom: 40px
  .contacts
    &-wrap
      padding-bottom: 30px
    &-title
      width: 300px
      font-size: 18px
    &-steps
      width: 170px  
    &__adress
      margin-bottom: 20px
      padding-left: 20px
    &__timework
      margin-bottom: 20px
      padding-left: 20px
    &__phone
      margin-bottom: 20px
      padding-left: 20px
  .map
    height: 350px
  .warranty
    margin: 0
    &-title
      font-size: 22px
      width: 300px
      line-height: 35px
    &-wrap
      margin-top: 0  


@media (max-width: 320px)
  .hidden-xs
    display: none
  .container
    width: 95%
  .main
    &-wrap
      flex-direction: column
    &-text
      max-width: 400px
      margin: auto
      &__title
        text-align: center
  .section
    &-title
      &_center
        width: 270px
  .footer
    &-feedback
      &-text        
        max-width: 280px
        &__questions
          li
            margin: 0
            max-width: 280px
      &-client
          max-width: 280px
  .card
    max-width: 300px
    min-height: 300px
  .price
    margin-top: 30px
    &-title
      width: 270px
      font-size: 18px
  .section
    &-subtitle
      margin: 10px
      font-size: 16px
  .contacts
    &-title
      width: 280px
  .map
    height: 300px
  .warranty
    &-title
      width: 280px
      font-size: 18px
    &-page
      width: 280px
          
@media (max-width: 390px)
  .buy
    margin: 20px 0  
    &-card
      width: 300px
      height: 330px
      &__title
        width: 250px

