@media (max-width: 1486px)
  .main
    &-image
      &-out
      transform: scale(1.1)
  
@media (max-width: 1289px)
  .main
    &-image
      &-out
      transform: scale(1.0)

@media (max-width: 1199px)
  .container
    width: 970px
  .main  
    &-image
      margin-top: 20px
  .modal
    &-dialog
      width: 730px
    &-part01
      width: 365px
    &-part02
      width: 365px
    &-info
      margin: 25px
    &-feedback
      margin: 40px 8px 
  .slider
    &__item
      img
        max-width: 95%    



@media (max-width: 992px)
  .container
    width: 767px
    text-align: center
  .main
    &-text
      &__title
        font-size: 30px
        line-height: 36px
    &-image
      &-out
        transform: none
    &-advantages
      &__text
        text-align: left
  .feedback
    background: #fff
  .form
    margin: auto
  .portfolio
    background: $light-bg-color
  .section
    &-title
      &_center
        width: 650px
        margin-bottom: 50px



 

@media (max-width: 768px)
  .feedback
    padding: 10px
  .hidden-xs
    display: none
  .container
    width: 95%
    text-align: center
  .main
    &-wrap
      flex-direction: column
    &-text
      max-width: 400px
      margin: auto
      &__title
    &-advantages
      &__text
        text-align: left    
  .form
    margin: auto
    &__title
      margin-bottom: 10px
    &__subtitle
      margin-bottom: 20px
    &__input
      width: 260px
      &:first-child
        margin-right: 5px
    &__button
      width: 530px
      margin: auto
    &-call
      width: 530px
      margin: auto
      margin-top: 20px
  .modal
    &_visible
      overflow: auto
    &-dialog
      flex-direction: column
      justify-content: center
      width: 500px      
    &-part01 
      width: 500px 
    &-part02 
      width: 500px
      order: -1
    &-info
      margin: 20px  
    &-discription
      &__title
        margin-top: 10px
        margin-bottom: 10px
    &-feedback
      margin-top: 10px
      margin-bottom: 10px
      &__title
        margin-bottom: 10px
      &__subtitle
        margin-bottom: 15px
    &__input
      text-align: center
    &__button
      margin-top: 15px
      margin-bottom: 15px
  .section
    &-title
      &_center
        width: 370px
        margin-bottom: 50px
        line-height: 35px    
  .portfolio
    padding-top: 50px

@media (max-width: 576px)
  .header
    &-wrap
      display: flex
      flex-direction: column
    &-text
      display: flex
      flex-direction: column
      &__contacts
        text-align: center
        margin: auto
      &__button
        width: 100%
        margin-top: 10px  
  .hidden-xs
    display: none
  .container
    width: 95%
    text-align: center
  .main
    padding: 0
    &-wrap
      flex-direction: column
    &-text
      max-width: 400px
      margin: auto
      &__title
        margin-bottom: 20px
        span        
          margin-top: 0px
  .form
    margin: auto
    &__input
      width: 100%
      margin-bottom: 10px
      text-align: center
      &:first-child
        margin-right: 0
    &__button
      width: 100%
    &-call
      flex-direction: column
      margin: auto
      margin-top: 20px
      width: 100%
      &__tel
        padding-left: 0
        &:before
          display: none
      &__callback
        width: 100%
        margin: auto
        &:before
          display: none

  .feedback
    padding: 20px 0
  .modal
    &-dialog
      width: 300px
    &-part01 
      width: 300px 
    &-part02 
      width: 300px
    &-info
      &__box
        margin-bottom: 20px
        flex-direction: column
        text-align: center
      &__image
        align-items: center
        order: 1
      &__text
        align-items: center
        margin: auto
        width: 180px
        &-title
          padding-bottom: 8px
          &:before
      &__price
        margin-top: 8px    
    &-discription
  .section
    &-title
      &_center
        width: 310px
        margin-bottom: 20px
        line-height: 30px
        font-size: 24px
  .portfolio
    padding-top: 50px
    padding-bottom: 100px
  .arrow
    bottom: -47px              
          



@media (max-width: 320px)
  .hidden-xs
    display: none
  .container
    width: 95%
  .main
    &-wrap
      flex-direction: column
    &-text
      max-width: 400px
      margin: auto
      &__title
        text-align: center
  .section
    &-title
      &_center
        width: 270px              