@media (max-width: 1486px)
  .main
    &-image
      &-out
      transform: scale(1.1)
  
@media (max-width: 1289px)
  .main
    &-image
      &-out
      transform: scale(1.0)

@media (max-width: 1199px)
  .box
    width: 970px
  .main  
    &-image
      margin-top: 20px


@media (max-width: 992px)
  .box
    width: 767px
  .main
    &-text
      &__title
        font-size: 30px
        line-height: 36px
    &-image
      &-out
        transform: none
  .feedback
    background: #fff

@media (max-width: 768px)
  .feedback
    padding: 10px
  .hidden-xs
    display: none
  .box
    width: 95%
    text-align: center
  .main
    &-wrap
      flex-direction: column
    &-text
      max-width: 400px
      margin: auto
      &__title
    &-advantages
      &__text
        text-align: left    
  .form
    margin: auto
    &__title
      margin-bottom: 10px
    &__subtitle
      margin-bottom: 20px
    &__input
      width: 260px
      &:first-child
        margin-right: 5px
    &__button
      width: 530px
      margin: auto
    &-call
      width: 530px
      margin: auto
      margin-top: 20px

@media (max-width: 576px)
  .header
    &-wrap
      display: flex
      flex-direction: column
    &-text
      display: flex
      flex-direction: column
      &__contacts
        text-align: center
        margin: auto
      &__button
        width: 100%
        margin-top: 10px  
  .hidden-xs
    display: none
  .box
    width: 95%
    text-align: center
  .main
    padding: 0
    &-wrap
      flex-direction: column
    &-text
      max-width: 400px
      margin: auto
      &__title
        margin-bottom: 20px
        span        
          margin-top: 0px
  .form
    margin: auto
    &__input
      width: 100%
      margin-bottom: 10px
      &:first-child
        margin-right: 0
    &__button
      width: 100%
    &-call
      flex-direction: column
      margin: auto
      margin-top: 20px
      width: 100%
      &__tel
        padding-left: 0
        &:before
          display: none

      &__callback
        width: 100%
        margin: auto
        &:before
          display: none

  .feedback
    padding: 20px 0


@media (max-width: 320px)
  .hidden-xs
    display: none
  .box
    width: 95%
  .main
    &-wrap
      flex-direction: column
    &-text
      max-width: 400px
      margin: auto
      &__title
        text-align: center        