@import 'var'
@import 'mixins'
@import 'fonts'
@import 'normalize'
@import 'interface'

@import 'modal'



@import 'header'
@import 'main'
@import 'feedback'
@import 'portfolio'
@import 'footer-feedback'
@import 'price'


*, *:after, *:before
  box-sizing: border-box

body
  font-family: 'Museo Sans Light', sans-serif
  color: $text-color

.container
  width: 1170px
  margin: 0 auto

img
  max-width: 100%

.section
  &-title
    +bold
    &_center
      text-align: center
  &-subtitle
    font-size: 20px
    text-align: center
    margin: 58px 0


@import 'media'  
